.SongList {
  display: block;
}

.list-group {
  display: flex;
}


.song-delete-btn {
  display: none;
  font-size: 10px;
}

.song-edit-btn {
  display: none;
  font-size: 10px;
}

.list-group:hover .song-delete-btn {
  display: block;
  position: relative;
}

.list-group:hover .song-edit-btn {
  position: absolute;
  display: inline-block;
}

// .link-tag:hover {
//     -moz-box-shadow: none;
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }

.list-container li Link:hover
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}